body {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 1fr;
    grid-template-rows: 150px 1fr 5%;
    min-height: 100vh;
    font-size: 18pt;
    font-family: 'Cormorant Garamond', serif !important;
    font-weight: 400;
    color: black;
    /*
    font-family: 'Amatic SC', cursive;
    font-family: 'Athiti', sans-serif;
    font-family: 'Cormorant', serif;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Crimson Text', serif;
    font-family: 'EB Garamond', serif;
    font-family: 'Gloria Hallelujah', cursive;
    font-family: 'Inconsolata', monospace;
    font-family: 'Josefin Slab', serif;
    font-family: 'Source Code Pro', monospace;
    font-family: 'Source Serif Pro', serif;
    */
}

/*page layout*/
header {
    grid-column-start: 2;
    grid-column-end: 4;
    display: grid;
}

.post-area {
    grid-column-start: 2;
    grid-row-start: 2;
    grid-column-end: 4;
}

footer {
    grid-column-start: 1;
    grid-row-start: 3;
    grid-column-end: 5;
    margin: auto;
    color: lightslategrey;
    padding-bottom: 1rem;
}

/*header menu*/
.home {
    grid-column-start: 1;
    grid-column-end: 3;
    align-self: center;
    text-align: left;
    font-size: 60px;
}

.menubar {
    grid-column-start: 3;
    grid-column-end: 4;
    align-self: center;
    text-align: right;
}

.menubar > a {
    color:#000000;
    font-weight: 700;
}


/*link styles*/
a {
    color: slategrey;
    text-decoration: none;
}

a:hover {
    color: #3d454e;
    text-decoration: none;
}

h1 a {
    color: #000000;
    text-decoration: none;
}

h1 a:hover {
    color: #708090;
    text-decoration: none;
}

h2 a {
    color: #000000;
    text-decoration: none;
}

h2 a:hover {
    color: #708090;
    text-decoration: none;
}

h3 a {
    color: #000000;
    text-decoration: none;
}

h3 a:hover {
    color: #708090;
    text-decoration: none;
}

/*comment form*/
.form-name {
    margin: 0.5rem;
    padding: 0.5rem;
    height: 2rem;
    font-size: 1.2rem;
    color: #3d454e;
    border: none;
    border-bottom: 1px solid #708090;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 500;
    font-size: 18pt;

}

.form-comment {
    margin: 0.5rem;
    padding: 0.5rem;
    width: 100%;
    height: 2rem;
    font-size: 1.2rem;
    color: #3d454e;
    border: none;
    border-bottom: 1px solid #708090;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 500;
    font-size: 18pt;
    resize: vertical;
    overflow: hidden;

}

.form-button {
    text-align: center;
    margin-bottom: 2rem;
}


.form-name:focus {
    outline: none;
    border: none;
    border-bottom: 2px solid #708090;
  }

  .form-comment:focus {
    outline: none;
    border: none;
    border-bottom: 2px solid #708090;
  }

  button[type="submit"] {
    margin: 0.5rem;
    padding: 0.5rem;
    height: 3rem;
    width: 9rem;
    font-size: 1.2rem;
    background-color: white;
    color: #708090;
    border: 2px solid #708090;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 600;
    font-size: 18pt;
    border-radius: 4px;
  }

  button[type="submit"]:hover {
    background-color: #708090;
    color: white;
  }

  div.comments-section {
    margin-left: 15%;
    margin-right: 15%;
  }

  div.comment-box {
    background-color: #e4ecf5;
    border-radius: 4px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
  }

  span.user-name {
    color: #3d454e;
  }

  /*post-header*/
  .post-title {
    margin-bottom: 0;
  }

  .post-datetime {
    margin-top: 0;
  }