
body {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 10% 1fr 5%;
    min-height: 100vh;
    font-size: 18pt;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 400;
    color: black;
    /*
    font-family: 'Amatic SC', cursive;
    font-family: 'Athiti', sans-serif;
    font-family: 'Cormorant', serif;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Crimson Text', serif;
    font-family: 'EB Garamond', serif;
    font-family: 'Gloria Hallelujah', cursive;
    font-family: 'Inconsolata', monospace;
    font-family: 'Josefin Slab', serif;
    font-family: 'Source Code Pro', monospace;
    font-family: 'Source Serif Pro', serif;
    */
}

header {
    grid-column: span 3;
    grid-column-start: 2;
}

.post-area {
    grid-column: span 1;
    grid-column-start: 2;
    grid-row-start: 2;
}

footer {
    grid-column: span 3;
    margin: auto;
    color: lightslategrey;
}

a {
    color: slategrey;
    text-decoration: none;
}

a:hover {
    color: rgb(61, 69, 78);
    text-decoration: none;
}

h1 a {
    color: black;
    text-decoration: none;
}

h1 a:hover {
    color: slategrey;
    text-decoration: none;
}

h2 a {
    color: black;
    text-decoration: none;
}

h2 a:hover {
    color: slategrey;
    text-decoration: none;
}