
body {
    display: grid;
    grid-template-columns: 2fr 8fr 1fr;
    grid-template-rows: 10% 1fr 10%;
    min-height: 100vh;
}

header {
    grid-column: span 3;
    margin: auto;
}

.post-area {
    grid-column: span 1;
    grid-column-start: 2;
    grid-row-start: 2;
}

footer {
    grid-column: span 3;
    margin: auto;
    color: lightslategrey
}
