{% extends 'base.html' %}

{% block content %}
    <div class="hero-image-area">
        {% for post in newest_post_first %}
            {% if post.hero_image and forloop.first %}
                <div class="hero-div">
                    <a class="hero-link" href="{% url 'post_detail' post.id %}">
                        <img class="hero-image" src="{{post.hero_image}}" alt="hero image">
                        <div class="text-block-hero">
                            <div class="text-block-content-hero">
                                <span class="post-title-hero">{{post.title}}</span><br>
                                <span class="post-preheader-hero">{{post.preheader}}</span>
                            </div>
                        </div>
                    </a>
                </div>
            {% elif post.hero_image and forloop.counter0 >= 1 and forloop.counter0 <= 2 %}
                <div class="other-div-{{forloop.counter0}}">
                    <a class="other-link" href="{% url 'post_detail' post.id %}">
                        <img class="other-image-{{forloop.counter0}}" src="{{post.hero_image}}" alt="other image">  
                        <div class="text-block-other">
                            <div class="text-block-content-other">
                                <span class="post-title-other">{{post.title}} > </span>
                                <span class="post-preheader-other">{{post.preheader}}</span>
                            </div>
                        </div>
                    </a>
                </div>

            {% endif %}
        {% endfor %}
        <div class="arrow-to-older-posts-div">
            <a href="{% url 'archive' %}"><img class="arrow-to-older-posts-image" src="https://res.cloudinary.com/dq9wagwfu/image/upload/v1667556353/vilanovella/arrow-down-older-posts-large-black-5_zjcs5u.svg" alt="arrow-to-older-posts"></a>
        </div>
    </div>
{% endblock content %}