{% extends 'base.html' %}

{% block content %}

<div class="post-entry">

    <h2>{{ post.title }}</h2>
    <p>{{ post.body | linebreaks }}</p>
    <img src="{{ post.post_image_1.url }}" alt="post_image_1" style="max-width: 33%;">


</div>

<div>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
</div>
<div>
    {% for comment in comments %}
        {{comment.name}}: "{{ comment.comment }}"<br><br>
    {% endfor %}
</div>

{% endblock content %}