{% extends 'base.html' %}
{% load social_share %}

{% block content %}

<div class="post-entry">

    <h2 class="post-title">
        {{ post.title }}
    </h2>
    <p class="post-datetime">
        <i>{{post.created | date:"j F Y"}}</i>
    </p>
    <p>{{ post.body | safe }}</p>

</div>


<br>
<div class="share-buttons">
{% post_to_facebook object_or_url %}
{% post_to_reddit 'Check out this blog post: "{{object.title}}"' object_or_url %}
{% post_to_twitter 'Check out this blog post: "{{object.title}}"' object_or_url %}
{% post_to_whatsapp object_or_url %}
</div>
<br><br>

<div class="comments-section">
    <form action="" method="post">
        {% csrf_token %}
        {{ form }}
        <div class="form-button">
            <button type="submit" >Submit</button>
        </div>
    </form>
    {% for comment in comments %}
        <div class="comment-box">
            <span class="user-name"><i>{{comment.name}}</i></span><br>
            {{ comment.comment }}
        </div>
    {% endfor %}
</div>

{% endblock content %}