{% extends 'base.html' %}

{% block content %}

<div class="post-entry">

    <h2>{{ post.title }}</h2>
    <p>{{ post.body | safe }}</p>
</div>

<div>
    <form action="" method="post">
        {% csrf_token %}
        {{ form }}
        <div class="form-button">
            <button type="submit" >Submit</button>
        </div>
    </form>
</div>
<div>
    {% for comment in comments %}
    <i></i>
        {{comment.name}}: "<i>{{ comment.comment }}</i>"<br><br>
    {% endfor %}
</div>

{% endblock content %}